$main-font:'Roboto Condensed', sans-serif;
$color-dark: rgb(56, 56, 56);
$color-light: rgb(250, 250, 250); 

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:rgb(148, 149, 150)
}


.header {
    background-color: rgb(246, 247, 249);
    font-family: $main-font;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 10rem;
    padding-left: 10%;
    padding-right: 10%;
  @media (max-width:720px) {
      flex-direction: column;
      height: 100%;
  }
&_logo{
 & img{
        height: 9rem;
    }
}
&_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media (max-width:720px) {
        justify-content: center;
    }
    @media (max-width: 415px) {
        justify-content: center;
        font-size: 0.8em;
    }
    width: 100%;
    height: 65px;
    &-text{
        margin: 20px;
        &_selected a{
            color:rgb(56,56,56);
        }
    }
}
}

///our story page content /// 
.story{
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: auto;
    font-family: $main-font;
    &_img img{
        margin-top: 3%;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    &_text h2{
         font-weight: 100;
         letter-spacing: 1px;
         text-transform: uppercase;
         margin: 5% 0% 3% 0;
    }
    &_text p{
        font-weight: 100;
        margin-bottom: 5%;
    }
    &_owners{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        & img{
        width: 49%;
        }
    }
    &_names{
        display: flex;
        flex-direction: row;
        justify-content:center;
        & p{
       
            font-family: $main-font;
            font-size: 2em;
            font-weight: 100;
            padding: 0 15% 0 15%;
            margin-top: 3%;
            padding-bottom: 3%;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

input[type=text], select, textarea {
        width: 100%; /* Full width */
        padding: 12px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        border-radius: 4px; /* Rounded borders */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
       
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
        background-color: $color-dark;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
        background-color: $color-dark;
}

/* Add a background color and some padding around the form */
.story_form {
        border-radius: 5px;
        background-color: rgb(246, 247, 250);
        padding: 20px;
        margin-bottom: -5%;

}

.footer {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  color: $color-light;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  max-width: 100%;
  height: 10rem;
  padding: 5% 30%;
  font-family: $main-font;
  font-weight: 100;
  @media (max-width:720px) {
        padding: 5%;
  }

  

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center; 
    width: 100%;
    height: 65px;

     

    &__text {
      margin: 20px;
      @media (max-width: 415px) {
      justify-content: center;
      font-size: 0.5em;
      
    }

      &--selected a {
        color: $color-light;
      }
    }
  }

  &__social {
    text-align: center;
    &__hashtag {
      padding: 1rem;
    }
  }
    @media (max-width:720px) {
    flex-direction: column;
    height: 100%;
    }
    @media (max-width:720px) {
      justify-content: center;
    }
}