$main-font:'Roboto Condensed', sans-serif;
$color-dark: rgb(56, 56, 56);
$color-light: rgb(250, 250, 250);

*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color:rgb(148, 149, 150)
}

.header {
    background-color: rgb(246, 247, 249);
    font-family: $main-font;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: 10rem;
    padding-left: 10%;
    padding-right: 10%;
  @media (max-width:720px) {
      flex-direction: column;
      height: 100%;
  }
&_logo{
 & img{
        height: 9rem;
    }
}
&_menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @media (max-width:720px) {
        justify-content: center;
    }
    @media (max-width: 380px) {
        justify-content: center;
        font-size: 0.8em;
    }
    width: 100%;
    height: 65px;
    &-text{
        margin: 20px;
        &_selected a{
            color:rgb(56,56,56);
        }
    }
}
}

///1 page main content /// 

.main{
    display: flex;
    flex-direction: column;
    margin: auto;
    // align-items:center;
    width: 76%;
    // background-color:lightgray;
    font-family: $main-font;
    
    &_title{
        text-align: left;
        margin-bottom: 3%;
        text-transform: uppercase;
        margin: 3% 0 3% 0;
        letter-spacing: 1px;
        & h1{
             font-weight: 100;
        }
        & h2{
            font-weight: 100;
            color:rgb(43,43,43);
            margin-top: 2%;
        }
         @media (max-width:720px){
            & h2{
                margin-top: 5%;
                font-size: 1.4em;
            }
         }
    }
    &_img img{
        width: 100%;
        height: 50%;
    }
    &_info{
        display: flex;
        flex-direction: row;
        text-align: left;
        &_hours, &_booking, &_address{
           margin: 2% 10% 3% 0%;
        }
        & h3{
            margin-bottom: 5%;
            font-weight: 100;
            text-transform: uppercase;
            letter-spacing: 1px;
            @media (max-width:720px){
                margin-bottom: 5%;
            }
        }
        & p{
            font-weight: 100;
        }
        @media (max-width:720px) {
        flex-direction: column;
        height: 100%;
        &_hours, &_booking, &_address{
           margin: 5% 10% 5% 0%;
        }
  }
    }
    &_map iframe{
        width:100%;
        height:450px;
        border:0;
        @media (max-width:720px){
           height: 50%;
        }
    }
}
.footer {
  background-color: $color-dark;
  display: flex;
  flex-direction: column;
  color: $color-light;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  max-width: 100%;
  height: 10rem;
  padding: 5% 30%;

  @media (max-width:720px) {
    flex-direction: column;
    height: 100%;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    @media (max-width:720px) {
      justify-content: center;
    }

    @media (max-width: 380px) {
      justify-content: center;
      font-size: 0.8em;
    }

    width: 100%;
    height: 65px;

    &__text {
      margin: 20px;

      &--selected a {
        color: $color-light;
      }
    }
  }

  &__social {
    text-align: center;
    &__hashtag {
      padding: 1rem;
    }
  }
  
}
